.todo-list-item {
  padding: 1.6rem;
  background: white;
  border-radius: 1.6rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list-item__buttons {
  display: flex;
  gap: 1.6rem;
}

.todo-list-item__button {
  background: transparent;
}

.todo-list-item__button:hover {
  cursor: pointer;
}

.todo-list-item__button:hover .todo-list-item__icon{
  color: orange;
}

.todo-list-item__button {
  font-size: 1.6rem;
  color: orangered;
}

.todo-list-item__right {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.todo-list-item__text {
  font-size: 1.6rem;
}

.todo-list-item--blue {
  background-color: lightblue;
}

.todo-list-item--green {
  background-color: lightgreen;
}

.todo-list-item--orange {
  background-color: lightsalmon;
}
.todo-list-item--purple {
  background-color: lightskyblue;
}
.todo-list-item--red {
  background-color: lightpink;
}