.todo-list-item {
  padding: 1.6rem;
  background: white;
  border-radius: 1.6rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list-item__color-button {
  background: transparent;
}

.todo-list-item__color-button:hover {
  cursor: pointer;
}

.todo-list-item__color-button:hover .todo-list-item__color {
  color: orange;
}

.todo-list-item__color {
  font-size: 1.6rem;
  color: orangered;
}

.todo-list-item__right {
  display: flex;
  gap: 1.6rem;
}

.todo-list-item__text {
  font-size: 1.6rem;
}
