.todo-color__color {
  width: 3.2rem;
  height: 3.2rem;
  display: block;
  border-radius: 50%;
  border: 0.2rem solid lightgray;
}

.todo-color__color--blue {
  background: linear-gradient(to right, lightblue, blue);
}
.todo-color__color--red {
  background: linear-gradient(to right, lightpink, red);
}
.todo-color__color--orange {
  background: linear-gradient(to right, lightcoral, orange);
}
.todo-color__color--purple {
  background: linear-gradient(to right, lightskyblue, purple);
}
.todo-color__color--green {
  background: linear-gradient(to right, lightgreen, green);
}

.todo-color__color:hover {
  cursor: pointer;
}

.todo-color__radio:checked + .todo-color__color {
  border-color: black;
}

.todo-color__radio {
  display: none;
}
