.change-color {
  background: seashell;
  border-radius: 1.6rem;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
}

.change-color__colors {
  display: flex;
  gap: 1.6rem;
  padding: 1.6rem 1.6rem;
  flex-wrap: wrap;
}

.change-color__title-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.2rem;
}

.change-color__close-button {
  margin: 0 .8rem 0 0;
  position: absolute;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  background-color: red;
  border-radius: 50%;
  font-size: 1.6rem;
  border: 0.1rem solid darkred;
}

.change-color__close-button:hover {
  background-color: salmon;
}

.change-color__close-button:active {
  border-color: red;
}

.change-color__title {
  font-size: 1.6rem;
  text-align: center;
}

.change-color__close-button:hover {
  cursor: pointer;
  color: grey;
}
