.app__todo-input-text-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 3.2rem;
  justify-content: center;
}

.app__actions-wrapper {
  padding-top: 3.2rem;
}

.app__remaining-todos-wrapper {
  padding-top: 1.6rem;
}

.app__filter-by-status-wrapper {
  padding-top: 1.6rem;
}

.app_filter-by-color-wrapper {
  padding-top: 1.6rem;
}